/* CSS for Transaction component */

.transactions {
    background-color: rgba(255, 255, 255, 0.9); /* Soft white background with transparency */
    color: black;
    padding: 20px;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px; /* Add margin around the component */
}

.transactions h2 {
    font-size: 32px; /* Larger font size for headings */
    color: #ff69b4; /* Bright pink heading color */
    margin-bottom: 20px; /* Add margin below heading for spacing */
}

.transaction-list {
    list-style-type: none;
    padding: 0;
}

.transaction-item {
    margin-bottom: 15px; /* Increase margin for better spacing between items */
    display: flex;
    align-items: center;
}

.transaction-type {
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
}

.pending {
    background-color: #ffc107; /* Yellow background for pending transactions */
    color: #000; /* Black text color for pending transactions */
    opacity: 0.7; /* Opacity for pending transaction text */
}

.transaction-details {
    flex-grow: 1;
    margin-left: 10px;
}

.transaction-description {
    font-weight: bold;
}

.transaction-amount {
    font-weight: bold;
}

.deposit {
    background-color: #87ceeb; /* Blue background for deposit transactions */
    color: #ffffff; /* White text color */
}

.withdrawal {
    background-color: #ff69b4; /* Pink background for withdrawal transactions */
    color: #ffffff; /* White text color */
}
